:root {
  --hero-footer-bndcolor: #2f303a;
  --team-color: #f5f4fa;
  --prime-text-color: #212121;
  --secondary-text-color: #757575;
  --decorative-color: #2196f3;
  --hero-footer-text-color: #ffffff;
  --logo-end-text-color: #000000;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.modal-button {
  min-width: 200px;
  background: var(--decorative-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--decorative-color);
}

.social-list__link:hover svg,
.social-list__link:focus svg {
  fill: var(--hero-footer-text-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.backdrop__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--hero-footer-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__close-button:focus, .backdrop__close-button:hover {
  border-color: var(--decorative-color);
  fill: var(--decorative-color);
}

.backdrop__close-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 479px) {
  .backdrop__modal {
    min-width: 320px;
    min-height: 609px;
    background-color: var(--hero-footer-text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 480px) {
  .backdrop__modal {
    width: 450px;
    height: 609px;
    background-color: var(--hero-footer-text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop__modal {
    width: 528px;
    height: 581px;
    background-color: var(--hero-footer-text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.backdrop__modal-form {
  display: flex;
  flex-direction: column;
}

.backdrop__modal-imput-wrapper {
  position: relative;
  margin-top: 4px;
  display: block;
  margin-bottom: 10px;
}

.backdrop__modal-appeal {
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prime-text-color);
}

.backdrop__field-modal {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.backdrop__modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.backdrop__modal-input:hover, .backdrop__modal-input:focus {
  outline: none;
  border-color: var(--decorative-color);
}

.backdrop__modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fiil 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  pointer-events: none;
}

.backdrop__modal-input:hover + .backdrop__modal-icon,
.backdrop__modal-input:focus + .backdrop__modal-icon {
  fill: var(--decorative-color);
}

.backdrop__modal-massage {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
  cursor: pointer;
}

.backdrop__modal-massage:hover, .backdrop__modal-massage:focus {
  outline: none;
  border-color: var(--decorative-color);
}

.backdrop__modal-massage::placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop__modal-check-desc {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.backdrop__modal-check-desc::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
}

.backdrop__modal-term:checked + .backdrop__modal-check-desc::before {
  background-image: url(../images/check.svg);
  background-position: center;
  background-color: #2196f3;
  border-color: #2196f3;
}

.backdrop__modal-term:focus + .backdrop__modal-check-desc::before {
  border-color: #2196f3;
}

.backdrop__modal-btn {
  min-width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-self: center;
  border: none;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--hero-footer-text-color);
  cursor: pointer;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .backdrop__modal-check-desc {
    display: flex;
    align-items: center;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* identical to box height, or 171% */
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
  .backdrop__modal-check-desc::before {
    display: block;
    content: '';
    width: 16px;
    height: 15px;
    border: 1px solid #000000;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 7px;
  }
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  width: 134px;
  height: 28px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--decorative-color);
}

.logo_light-theme {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--logo-end-text-color);
}

.logo_dark-theme {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  color: var(--hero-footer-text-color);
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .contact-list {
    display: none;
  }
  .burger-btn,
  .header-mobile__close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .header-mobile__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .header-mobile__close-btn:focus, .header-mobile__close-btn:hover {
    fill: var(--decorative-color);
  }
  .burger-btn {
    cursor: pointer;
  }
  .burger-btn:hover, .burger-btn:focus {
    fill: var(--decorative-color);
  }
  .burger-btn__icon {
    width: 40px;
    height: 40px;
  }
  .header-mobile {
    position: fixed;
    top: 0;
    left: 50%;
    height: 100vh;
    width: 100vw;
    padding: 48px 40px;
    background-color: #ffffff;
    z-index: 999;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-50%);
    overflow-y: scroll;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .header-mobile__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-contact-list {
    margin-top: 302px;
  }
  .mobile-contact-list__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .header-mobile__link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: currentColor;
    cursor: pointer;
  }
  .header-mobile__link:hover, .header-mobile__link:focus {
    color: var(--decorative-color);
  }
  .underscore-mobile-menu {
    color: #2196f3;
  }
  .mobile-contact-list__link_tell-link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mobile-contact-list__mail-link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-social-list {
    flex-wrap: wrap;
    display: flex;
    margin-top: 64px;
  }
  .mobile-social-list :not(:last-child)::after {
    content: '';
    width: 22px;
    height: 0px;
    margin: 0 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
  .mobile-social-list__link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-mobile {
    display: none;
  }
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid #ececec;
  }
  .header .container {
    display: flex;
    align-items: center;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
    margin-left: 88px;
    margin-right: 84px;
  }
  .menu__item {
    position: relative;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .underscore::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 28px;
  }
  .contact-list {
    display: inline-block;
    align-items: center;
    margin-left: auto;
  }
  .menu__link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--prime-text-color);
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--decorative-color);
  }
  .contact-list__link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--prime-text-color);
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__link:hover, .contact-list__link:focus {
    color: var(--decorative-color);
  }
  .contact-list__link:hover svg,
  .contact-list__link:focus svg {
    fill: var(--decorative-color);
  }
  .contact-list__link_mail-link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
  .contact-list__link_tell-link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contact-list__icon {
    margin-right: 8px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 0;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
  }
  .header .container {
    display: flex;
    align-items: center;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
    margin-left: 93px;
    margin-right: 0;
  }
  .menu__item {
    position: relative;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .underscore::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 28px;
  }
  .contact-list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--decorative-color);
  }
  .logo_light-theme {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--logo-end-text-color);
  }
  .logo_dark-theme {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    color: var(--hero-footer-text-color);
    letter-spacing: 0.03em;
  }
  .menu__link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--prime-text-color);
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--decorative-color);
  }
  .contact-list__link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--prime-text-color);
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__link:hover, .contact-list__link:focus {
    color: var(--decorative-color);
  }
  .contact-list__link:hover svg,
  .contact-list__link:focus svg {
    fill: var(--decorative-color);
  }
  .contact-list__link_mail-link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    margin-right: 30px;
  }
  .contact-list__link_tell-link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
  .contact-list__icon {
    margin-right: 10px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.hero__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  max-width: 360px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-Img-mobile.png);
    background-repeat: no-repeat;
    height: 400px;
    max-width: 480px;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    background-color: #c4c4c4;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/hero-Img-mobile@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-Img-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 768px;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    background-color: #c4c4c4;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/hero-Img-tablet@2x.png");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-Img-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: #c4c4c4;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/hero-Img-desktop@2x.png");
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 auto;
    max-width: 696px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

.descrip__hero {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--prime-text-color);
  margin-bottom: 10px;
}

.descrip__inform {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.descrip {
  padding-top: 94px;
  padding-bottom: 94px;
}

.descrip__list {
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.descrip__list:not(:last-child) {
  margin-top: 30px;
}

.descrip__icon {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .descrip__advantages {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .descrip__item {
    width: 354px;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    align-content: flex-start;
  }
  .descrip__list {
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    width: 354px;
    height: 120px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .descrip__list:not(:last-child) {
    margin-top: 30px;
  }
  .descrip__hero {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--prime-text-color);
    text-align: unset;
    margin-bottom: 10px;
  }
  .descrip__hero .descrip__inform {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .descrip__advantages {
    margin-left: -30px;
    display: flex;
  }
  .descrip__list {
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .descrip__item {
    margin-left: 30px;
    flex-basis: calc(100% / 4 - 30px);
  }
  .descrip__hero {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--prime-text-color);
    margin-bottom: 10px;
  }
}

.services {
  display: none;
}

@media screen and (min-width: 1200px) {
  .services {
    display: block;
  }
  .services {
    padding-bottom: 94px;
  }
  .services__title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--prime-text-color);
    margin-bottom: 50px;
  }
  .services__list {
    display: flex;
    margin-left: -30px;
  }
  .services__item {
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);
    position: relative;
    text-align: center;
  }
  .services__img-text {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-footer-text-color);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.team__item {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  justify-content: center;
}

.team {
  background-color: var(--team-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  justify-content: center;
  color: var(--prime-text-color);
  margin-bottom: 50px;
}

.team__name {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prime-text-color);
  margin-bottom: 10px;
}

.team__profession {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team__descriptions {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--hero-footer-text-color);
  border-radius: 0px 0px 4px 4px;
}

.team__img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .team__item {
    width: 354px;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    align-content: flex-start;
    background: #ffffff;
    /* material shadow v1 */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--prime-text-color);
    margin-bottom: 50px;
  }
  .team-list {
    display: flex;
    margin-left: -30px;
  }
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    background: #ffffff;
    /* material shadow v1 */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prime-text-color);
  margin-bottom: 50px;
}

.customers__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .customers__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
    justify-content: center;
  }
  .customers__link {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-basis: calc(100% / 2 - 30px);
    align-content: flex-start;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 210px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 5px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers__link:hover, .customers__link:focus {
    border: 1px solid #2196f3;
  }
  .customers__link:hover svg,
  .customers__link:focus svg {
    fill: var(--decorative-color);
    border: var(--decorative-color);
  }
}

@media screen and (min-width: 768px) {
  .customers__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .customers__link {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-basis: calc(100% / 3 - 30px);
    align-content: flex-start;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 226px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 5px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers__link:hover, .customers__link:focus {
    border: 1px solid #2196f3;
  }
  .customers__link:hover svg,
  .customers__link:focus svg {
    fill: var(--decorative-color);
    border: var(--decorative-color);
  }
}

@media screen and (min-width: 1200px) {
  .customers__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .customers__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 5px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers__link:hover, .customers__link:focus {
    border: 1px solid #2196f3;
  }
  .customers__link:hover svg,
  .customers__link:focus svg {
    fill: var(--decorative-color);
    border: var(--decorative-color);
  }
  .customers__title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--prime-text-color);
    margin-bottom: 50px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-footer-bndcolor);
  margin: 0 auto;
}

.footer__contacts-address {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--hero-footer-text-color);
}

.footer__mail {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__tel {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-footer-text-color);
  margin-bottom: 20px;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__social-icon {
  width: 20px;
  height: 20px;
  fill: var(--hero-footer-text-color);
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--decorative-color);
}

.footer__social-link:hover svg,
.footer__social-link:focus svg {
  fill: var(--hero-footer-text-color);
}

.footer__form-btn {
  min-width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--hero-footer-text-color);
  border: none;
  cursor: pointer;
  vertical-align: top;
}

.footer__btn-icon {
  fill: var(--hero-footer-text-color);
  margin-left: 10px;
}

.footer__input {
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  background-color: #2f303a;
  border-radius: 4px;
  outline: none;
  padding: 16px 15px;
  color: var(--hero-footer-text-color);
  margin-right: -5px;
  margin-bottom: 20px;
}

.footer__input::placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  /* identical to box height, or 125% */
  text-align: left;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__appeal {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--hero-footer-text-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer__input {
    width: 100%;
  }
  .footer__nav {
    display: block;
    text-align: center;
  }
  .footer__contacts {
    margin-bottom: 60px;
  }
  .footer__list {
    margin-top: 20px;
  }
  .footer__social {
    width: 206px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
  }
  .footer__social-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer__form {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__contacts {
    text-align: center;
    margin-bottom: 60px;
  }
  .footer__list {
    margin-top: 20px;
  }
  .footer__social {
    width: 206px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
  }
  .footer__social-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer__form {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .footer__input {
    width: 450px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__nav {
    display: flex;
  }
  .footer__list {
    margin-top: 20px;
  }
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer__contacts-address {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--hero-footer-text-color);
  }
  .footer__mail {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__tel {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-footer-text-color);
    margin-bottom: 20px;
  }
  .footer__social {
    width: 206px;
    margin-left: 70px;
    margin-top: 12px;
  }
  .footer__social-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__social-link:hover, .footer__social-link:focus {
    background-color: var(--decorative-color);
  }
  .footer__social-link:hover svg,
  .footer__social-link:focus svg {
    fill: var(--hero-footer-text-color);
  }
  .footer__social-icon {
    width: 20px;
    height: 20px;
    fill: var(--hero-footer-text-color);
  }
  .footer__form {
    display: unset;
    margin-left: 93px;
    margin-top: 12px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .footer__appeal {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    color: var(--hero-footer-text-color);
    margin-bottom: 20px;
  }
  .footer__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    background-color: #2f303a;
    border-radius: 4px;
    outline: none;
    padding: 16px 15px;
    color: var(--hero-footer-text-color);
    margin-right: -5px;
  }
  .footer__input::placeholder {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    /* identical to box height, or 125% */
    text-align: left;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__form-btn {
    min-width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 187% */
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    margin-left: 12px;
    color: var(--hero-footer-text-color);
    border: none;
    cursor: pointer;
    vertical-align: top;
  }
  .footer__btn-icon {
    fill: var(--hero-footer-text-color);
    margin-left: 10px;
  }
  .footer__contacts,
  .footer__social,
  .footer__form {
    text-align: unset;
  }
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__btn {
  min-width: 73px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--prime-text-color);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: var(--decorative-color);
  color: var(--hero-footer-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .portfolio__list {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
  .portfolio__item:not(:last-child) {
    margin-right: 8px;
  }
  .portfolio__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .portfolio__item:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .portfolio__item:not(:last-child) {
    margin-right: 8px;
  }
}

.portfolio__description {
  padding: 20px 24px;
}

.portfolio__description-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--prime-text-color);
  margin-bottom: 4px;
}

.portfolio__description-about {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio__img {
  width: 100%;
}

.portfolio__text-img {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .portfolio__description-item {
    max-width: 450px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__description-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .portfolio__text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 450px;
    background-color: rgba(33, 150, 243, 0.9);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    /* or 156% */
    letter-spacing: 0.03em;
    color: var(--hero-footer-text-color);
    padding: 63px 24px;
    transform: translateY(100%);
    text-align: left;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__description-link:focus .portfolio__text,
  .portfolio__description-link:hover .portfolio__text {
    transform: translate(0%);
  }
}

@media screen and (min-width: 768px) {
  .portfolio__description-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    align-content: flex-start;
    max-width: 354px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__description-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .portfolio__description-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .portfolio__text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 354px;
    background-color: rgba(33, 150, 243, 0.9);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    /* or 156% */
    letter-spacing: 0.03em;
    color: var(--hero-footer-text-color);
    padding: 63px 24px;
    transform: translateY(100%);
    text-align: left;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__description-link:focus .portfolio__text,
  .portfolio__description-link:hover .portfolio__text {
    transform: translate(0%);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__description-list {
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .portfolio__description-item {
    flex-basis: calc(100% / 9 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    align-content: flex-start;
    width: 370px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__description-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .portfolio__text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 370px;
    background-color: rgba(33, 150, 243, 0.9);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    /* or 156% */
    letter-spacing: 0.03em;
    color: var(--hero-footer-text-color);
    padding: 63px 24px;
    transform: translateY(100%);
    text-align: left;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__description-link:focus .portfolio__text,
  .portfolio__description-link:hover .portfolio__text {
    transform: translate(0%);
  }
  .portfolio__img {
    width: unset;
  }
}
/*# sourceMappingURL=main.css.map */