.team__item {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  justify-content: center;
}

.team {
  background-color: var(--team-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  justify-content: center;
  color: var(--prime-text-color);

  margin-bottom: 50px;
}

.team__name {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--prime-text-color);

  margin-bottom: 10px;
}

.team__profession {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.team__descriptions {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--hero-footer-text-color);
  border-radius: 0px 0px 4px 4px;
}
.team__img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .team__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  & .container {
    min-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }

  .team__item {
    width: 354px;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    align-content: flex-start;
    background: #ffffff;
    /* material shadow v1 */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--prime-text-color);

    margin-bottom: 50px;
  }
  .team-list {
    display: flex;
    margin-left: -30px;
  }

  .team__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    background: #ffffff;
    /* material shadow v1 */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}
