:root {
  --hero-footer-bndcolor: #2f303a;

  --team-color: #f5f4fa;

  --prime-text-color: #212121;

  --secondary-text-color: #757575;

  --decorative-color: #2196f3;

  --hero-footer-text-color: #ffffff;

  --logo-end-text-color: #000000;

  --main-font: 'Roboto', sans-serif;

  --secondary-font: 'Raleway', sans-serif;
}
